<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Blog | Compose</title>
</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-lg p-3 sticky-top" style="background-color: #2563EB;">
        <div class="container-fluid">
            <a href="home.html" class="navbar-brand fw-bold">Blogifier</a>
            <form action="/auth/logout" method="POST">
                <button type="submit" class="btn btn-info">Logout</button>
            </form>
        </div>
    </nav>
    <div class="container">
        <div class="container-fluid mt-5">
            <form id="compose-form" action="/blogs" method="POST">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input id="title" name="title" type="text" class="w-100 mt-2" placeholder="Enter the title here" required>
                </div>
                <div class="form-group mt-3">
                    <label for="category">Category</label>
                    <select id="category" name="category" class="w-100 mt-2" required>
                        <option value="Select a category" selected>Select a category</option>
                        <option value="Machine Learning">Machine Learning</option>
                        <option value="Data Science">Data Science</option>
                        <option value="Technology & Gadgets">Technology & Gadgets</option>
                        <option value="Web Development & Programming">Web Development & Programming</option>
                        <option value="Startups & Entrepreneurship">Startups & Entrepreneurship</option>
                        <option value="Productivity & Self-Improvement">Productivity & Self-Improvement</option>
                        <option value="Health & Wellness">Health & Wellness</option>
                        <option value="Others">Others</option>
                    </select>
                    <div class="form-group mt-3">
                        <label for="author">Author</label>
                        <input id="author" name="author" type="text" placeholder="Enter an Author Name" class="w-100 mt-2" required>
                    </div>
                    <div class="form-group mt-3" required>
                        <label for="Date">Date</label>
                        <input id="date-input" name="blog_date" type="date" class="w-100 mt-2">
                    </div>
                    <div class="form-group mt-3">
                        <label for="body">Body</label>
                        <textarea name="body" id="blog-body" class="w-100 mt-2" rows="10" required></textarea>
                    </div>
                    <div class="form-group">
                        <button id="publish-btn" class="btn btn-success mt-3 rounded-0" disabled>Publish</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <footer class="p-1 mt-4" style="background-color:#2563EB;">
        <p class="text-center fw-bold text-white pb-4 mt-4">Blogifier ©</p>
    </footer>

    <!--Alert container-->
    <div id="alertBox"></div>

    <script src="/js/main.js"></script>
</body>
</html>