<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Blog | Dashboard</title>
    <style>
        aside a{
            color: white;
        }
        aside a:hover{
            color:#60A5FA;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-lg p-3 sticky-top" style="background-color: #2563EB;;">
        <div class="container-fluid">
            <a href="/" class="navbar-brand fw-bold">Blogifier</a>
            <button class="btn text-white d-md-none me-2" onclick="toggleSidebar()">☰</button>
            <div class="d-flex align-items-center ms-auto gap-2">
                <% const firstName=user.first_name;
                    const lastName=user.last_name;
                    const letters=firstName.charAt(0).toUpperCase()+(lastName?lastName.charAt(0).toUpperCase():"");
                %>
                <div class="user-avatar text-white fw-bold">
                    <%= letters %>
                </div>
                <form action="/auth/logout" method="POST">
                    <button type="submit" class="btn btn-info">Logout</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container-fluid p-0">
        <div class="d-flex">
            <aside id="sidebar" class="sidebar" style="background-color: black; color: white; height: 100vh; width:220px;top:56px;">
                <div class="d-flex justify-content-between align-items-center p-3">
                    <h5 class="p-3">Menu</h5>
                </div>
                <div class="px-3">
                    <div class="mt-4"><a href="/blogs/compose" style="text-decoration: none;">Create a Blog</a></div>
                    <div class="mt-4"><a href="/blogs/myblogs" class="mt-4" style="text-decoration: none;">My Blogs</a></div>
                </div>
            </aside>
            <main class="main-content p-4">
                <h2>Dashboard</h2>
                <div class="row mt-4">
                    <div class="col-md-3 gap-2">
                        <div class="card shadow">
                            <div class="card-body">
                                <h5>Total Blogs Published:</h5>
                                <h3><%= totalBlogs %></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card shadow">
                            <div class="card-body">
                                <h5> My Total Blogs Published:</h5>
                                <h3><%= myBlogs %></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card shadow">
                            <div class="card-body">
                                <h5>Number of users:</h5>
                                <h3><%= totalUsers %></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

<script src="/js/main.js"></script>
</body>
</html>