<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Sign Up | Bloggifier</title>
</head>
<body>
    <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card mt-5" style="box-shadow: 5px 5px 10px gray;">
                    <div class="card-body">
                        <div class="mt-4">
                            <h3 class="text-center mb-5">Blogifier</h3>
                            <div class="mb-4">
                                <form action="/signup" method="GET">
                                    <div class="form-group">
                                        <label for="fname">Firstname</label>
                                        <input type="text" class="form-control mb-4">
                                    </div>
                                    <div>
                                        <label for="lname">Last Name</label>
                                        <input type="text" class="form-control mb-4">
                                    </div>
                                    <div>
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control mb-4">
                                    </div>
                                    <div>
                                        <label for="password">Enter a Password</label>
                                        <input type="password" class="form-control mb-4">
                                    </div>
                                    <div>
                                        <button class="btn btn-primary btn-sm w-100">Sign Up</button>
                                    </div>
                                    <div>
                                        <p class="text-center mt-4">Already have an account? Click below to login</p>
                                        <button class="btn btn-secondary btn-sm w-100">Login</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>