#alertBox{
    position: fixed;
    top:20px;
    right:20px;
    z-index: 9999;
}

.alert{
    background-color: greenyellow; /*for success*/
    color: white;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 6px;
    animation: fadein 0.5s,fadeout 0.5s 3s;
}

@keyframes fadein{
    from{opacity: 0;transform: translateX(100%);}
    to{opacity: 1;transform: translateX(0);}
}

@keyframes fadeout{
    from{opacity: 1;}
    to{opacity: 0;}
}